body {
  background-color: #f5dcd5;
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  position: relative;
  top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#task-input {
  display: flex;
  flex-direction: row;
}

#task-input input {
  width: 600px;
  background-color: #141850;
  color: #fff;
  border-radius: 8px;
  border: 1px solid #141850;
  font-size: 20px;
  padding: 10px 20px;
  transition: 0.3s ease-out;
}

#task-input input::placeholder {
  color: lightgrey;
  font-weight: 100;
  font-style: italic;
}

#task-input input:focus {
  outline: none;
  box-shadow: 0 0 10px #ed7966;
}

#add {
  background-color: #ed7966;
  margin-left: 15px;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 18px;
  border-radius: 50%;
  transition: all 0.2s;
}

#add:hover {
  cursor: pointer;
  filter: brightness(1.1);
}

#display-tasks {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.task {
  width: 50%;
  padding: 15px 30px;
  border-radius: 5px;
  color: #141850;
  font-size: 18px;
  font-weight: bold;
  background-color: #ed7966;
  margin-bottom: 10px;
}
